.gradient-custom {
    /* fallback for old browsers */
    background: #db1414;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(230, 67, 67), rgb(71, 175, 22));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(155, 12, 221), rgb(216, 125, 252))
  }